In [5]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('D:/projects/food review/Reviews.csv', header=0)

In [7]:
data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [8]:
data.isnull().sum().sum()

43

In [9]:
data1 = data.dropna()

In [10]:
df_dup = data1[data1.duplicated(['Text'])]
df_dup

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
29,30,B0001PB9FY,A3HDKO7OW0QNK4,Canadian Fan,1,1,5,1107820800,The Best Hot Sauce in the World,I don't know if it's the cactus or the tequila...
574,575,B000G6RYNE,A3PJZ8TU8FDQ1K,Jared Castle,2,2,5,1231718400,"One bite and you'll become a ""chippoisseur""","I'm addicted to salty and tangy flavors, so wh..."
603,604,B000G6RYNE,A3PJZ8TU8FDQ1K,Jared Castle,1,1,5,1229385600,"One bite and you'll become a ""chippoisseur""","I'm addicted to salty and tangy flavors, so wh..."
1973,1974,B0017165OG,A2EPNS38TTLZYN,tedebear,0,0,3,1312675200,Pok Chops,The pork chops from Omaha Steaks were very tas...
2309,2310,B0001VWE0M,AQM74O8Z4FMS0,Sunshine,0,0,2,1127606400,Below standard,Too much of the white pith on this orange peel...
...,...,...,...,...,...,...,...,...,...,...
568409,568410,B0018CLWM4,A2PE0AGWV6OPL7,Dark Water Mermaid,3,3,5,1309651200,Quality & affordable food,I was very pleased with the ingredient quality...
568410,568411,B0018CLWM4,A88HLWDCU57WG,R28,2,2,5,1332979200,litter box,My main reason for the five star review has to...
568411,568412,B0018CLWM4,AUX1HSY8FX55S,DAW,1,1,5,1319500800,Happy Camper,I bought this to try on two registered Maine C...
568412,568413,B0018CLWM4,AVZ2OZ479Q9E8,Ai Ling Chow,0,0,5,1336435200,Two Siberians like it!,When we brought home two 3-month-old purebred ...
568413,568414,B0018CLWM4,AI3Y26HLPYW4L,kimosabe,1,2,2,1330041600,premium edge cat food,My cats don't like it. what else can I say to ...

In [11]:
data2= data1.drop_duplicates(subset=['Text'])

In [12]:
data2.shape

(393565, 10)

In [13]:
data2.columns

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')

In [14]:
data3 = data2.drop(['ProductId','UserId','ProfileName','HelpfulnessNumerator','HelpfulnessDenominator','Time'],axis=1)

In [15]:
def target(score):
    if(score<3):
        review=0
    else:
        review=1
    return review

In [16]:
data3['Target']= data3['Score'].apply(target)

In [17]:
data3 = data3.drop('Score',axis=1)

In [18]:
data3.head()

,Id,Summary,Text,Target
0,1,Good Quality Dog Food,I have bought several of the Vitality canned d...,1
1,2,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,0
2,3,"""Delight"" says it all",This is a confection that has been around a fe...,1
3,4,Cough Medicine,If you are looking for the secret ingredient i...,0
4,5,Great taffy,Great taffy at a great price. There was a wid...,1

In [19]:
for i in range (0,len(data3)):
    if(type(data3.iloc[i]['Text'])!=str):
        data3.iloc[i]['Text'] = str(data3.iloc[i]['Text'])

In [20]:
type(data3.iloc[10]['Text'])

str

In [21]:
if(type(data3.iloc[i]['Summary'])!=str):
    data3.iloc[i]['Summary'] = str(data3.iloc[i]['Summary'])

In [22]:
type(data3.iloc[0]['Summary'])

str

In [23]:
data4 = data3.copy()

In [24]:
data4['combined'] = data3['Summary']+ ' ' + data3['Text']

In [25]:
data4 = data4.drop(['Summary','Text'],axis=1)

In [26]:
data4.head()

   Id  Target                                           combined
0   1       1  Good Quality Dog Food I have bought several of...
1   2       0  Not as Advertised Product arrived labeled as J...
2   3       1  "Delight" says it all This is a confection tha...
3   4       0  Cough Medicine If you are looking for the secr...
4   5       1  Great taffy Great taffy at a great price.  The...

In [27]:
import nltk
import string
from nltk.corpus import stopwords

In [28]:
tokenize = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

In [29]:
stop = stopwords.words('english')
stop

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [41]:
class normalizer:
    def normalize(txt):
        txt = txt.lower()
        txt = ''.join(i for i in txt if not i.isdigit())
        for i in string.punctuation:
            txt = txt.replace(i,'')
        txt = ' '.join(word for word in txt.split() if word not in (stop))
        txt = tokenize.tokenize(txt)
        txt = [lemmatizer.lemmatize(w,'v') for w in txt]
        return txt

In [31]:
text = 'The 5 biggest stoping countries names by !population in 2017 are China, India, United States, Indonesia, and Brazil.'

In [32]:
trial = normalize(text)

In [33]:
print(trial)

['biggest', 'stop', 'countries', 'name', 'population', 'china', 'india', 'unite', 'state', 'indonesia', 'brazil']

In [34]:
data5 = data4.copy()

In [35]:
data5 = data5.drop(['Id','Target'],axis=1)

In [36]:
data5.head()

                                            combined
0  Good Quality Dog Food I have bought several of...
1  Not as Advertised Product arrived labeled as J...
2  "Delight" says it all This is a confection tha...
3  Cough Medicine If you are looking for the secr...
4  Great taffy Great taffy at a great price.  The...

In [ ]:
for i in range (0,len(data5)):
    data5.iloc[i]['combined'] = normalize(data5.iloc[i]['combined'])

In [ ]:
data5.head()

In [ ]:
data5.columns = {'new'}

In [ ]:
data6 = data4.join(data5)

In [ ]:
data6 =  data6.drop('combined',axis=1)

In [ ]:
data6.head()

In [ ]:
df = data.Text

In [ ]:
df1=df.to_string()

In [ ]:
df2 = normalize(df1)

In [ ]:
import matplotlib.pyplot as plt
from wordcloud import wordcloud

In [ ]:
frequency_dist = nltk.FreqDist(df2)
sorted(frequency_dist,key=frequency_dist.__getitem__, reverse=True)[0:30]
large_words = dict([(k,v) for k,v in frequency_dist.items() if len(k)>2])
frequency_dist = nltk.FreqDist(large_words)
frequency_dist.plot(50,cumulative=False)
from wordcloud import WordCloud
wcloud = WordCloud().generate_from_frequencies(frequency_dist)
plt.figure(figsize=(18, 8))

plt.imshow(wcloud, interpolation='bilinear')
plt.axis("off"),(-0.5, 399.5, 199.5, -0.5)
plt.show()

In [ ]:
from  sklearn.model_selection import train_test_split

In [ ]:

Y = data6['Target']
X = data6.drop('Target',axis=1)

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3,random_state=0)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
vectorize = CountVectorizer(ngram_range=(1,2))

In [ ]:
x_train.head()

In [ ]:
def vectorizer(txt):
    vectorize.fit_transform(txt)
    return txt

In [ ]:
# vct = []
# for i in range(0,len(x_train1)):
#     vct.append(vectorizer(x_train1.iloc[i]['new']))

In [ ]:
len(x_train),len(x_test)

In [ ]:
vec_train = []
vec_test = []
for i in range(0,275495):
    vec.append(vectorize.fit_transform(x_train.iloc[i]['new']))

In [ ]:
for i in range(0,118070):
    vec.append(vectorize.fit_transform(x_test.iloc[i]['new']))

In [ ]:
# vec_train

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(vec,y_train)

In [ ]:
pred = model.predict(vec_test)

In [ ]:
performance = accuracy_score(pred,y_test)