In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# txt = 'The 5 biggest countries by population in 2017 are China, India, United States, Indonesia, and Brazil.'
# low_txt = txt.lower()
# print(low_txt)

In [3]:
data = pd.read_csv('D:/projects/food review/Reviews.csv', header=0)

In [4]:
data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [5]:
data1 = data.drop(['Time','ProfileName'],axis=1)

In [6]:
data1[data['Text'].duplicated()]

,Id,ProductId,UserId,HelpfulnessNumerator,HelpfulnessDenominator,Score,Summary,Text
29,30,B0001PB9FY,A3HDKO7OW0QNK4,1,1,5,The Best Hot Sauce in the World,I don't know if it's the cactus or the tequila...
574,575,B000G6RYNE,A3PJZ8TU8FDQ1K,2,2,5,"One bite and you'll become a ""chippoisseur""","I'm addicted to salty and tangy flavors, so wh..."
603,604,B000G6RYNE,A3PJZ8TU8FDQ1K,1,1,5,"One bite and you'll become a ""chippoisseur""","I'm addicted to salty and tangy flavors, so wh..."
1973,1974,B0017165OG,A2EPNS38TTLZYN,0,0,3,Pok Chops,The pork chops from Omaha Steaks were very tas...
2309,2310,B0001VWE0M,AQM74O8Z4FMS0,0,0,2,Below standard,Too much of the white pith on this orange peel...
...,...,...,...,...,...,...,...,...
568409,568410,B0018CLWM4,A2PE0AGWV6OPL7,3,3,5,Quality & affordable food,I was very pleased with the ingredient quality...
568410,568411,B0018CLWM4,A88HLWDCU57WG,2,2,5,litter box,My main reason for the five star review has to...
568411,568412,B0018CLWM4,AUX1HSY8FX55S,1,1,5,Happy Camper,I bought this to try on two registered Maine C...
568412,568413,B0018CLWM4,AVZ2OZ479Q9E8,0,0,5,Two Siberians like it!,When we brought home two 3-month-old purebred ...
568413,568414,B0018CLWM4,AI3Y26HLPYW4L,1,2,2,premium edge cat food,My cats don't like it. what else can I say to ...

In [7]:
data['Text'].duplicated().sum()

174875

In [8]:
data1.shape

(568454, 8)

In [9]:
data1 = data1.drop_duplicates(subset=['Text'])

In [10]:
data1.shape

(393579, 8)

In [11]:
data1.isnull().sum()

Id                        0
ProductId                 0
UserId                    0
HelpfulnessNumerator      0
HelpfulnessDenominator    0
Score                     0
Summary                   3
Text                      0
dtype: int64

In [12]:
data1.shape

(393579, 8)

In [13]:
data2 = data1.dropna()
data2.shape

(393576, 8)

In [14]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 393576 entries, 0 to 568453
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      393576 non-null  int64
 1   ProductId               393576 non-null  object
 2   UserId                  393576 non-null  object
 3   HelpfulnessNumerator    393576 non-null  int64
 4   HelpfulnessDenominator  393576 non-null  int64
 5   Score                   393576 non-null  int64
 6   Summary                 393576 non-null  object
 7   Text                    393576 non-null  object
dtypes: int64(4), object(4)
memory usage: 27.0+ MB

In [15]:
type(data2.iloc[0]['Text'])

str

In [16]:
# for i in range (0,len(data2)):
#     if(type(data2.iloc[i]['Text'])!=str):
#         data2.iloc[i]['Text'] = str(data2.iloc[i]['Text'])
#     if(type(data2.iloc[i]['Summary'])!=str):
#         data2.iloc[i]['Summary'] = str(data2.iloc[i]['Summary'])

In [17]:
data3 = data2.drop(['ProductId','UserId'],axis=1)

In [18]:
data4 = data3.copy()

In [19]:
data4['valid_rev'] = (data3.HelpfulnessDenominator/data3.HelpfulnessNumerator)*100

In [20]:
data4 = data4.fillna(0)

In [21]:
data4.head()

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Summary,Text,valid_rev
0,1,1,1,5,Good Quality Dog Food,I have bought several of the Vitality canned d...,100.0
1,2,0,0,1,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,0.0
2,3,1,1,4,"""Delight"" says it all",This is a confection that has been around a fe...,100.0
3,4,3,3,2,Cough Medicine,If you are looking for the secret ingredient i...,100.0
4,5,0,0,5,Great taffy,Great taffy at a great price. There was a wid...,0.0

In [22]:
data5 = data4[~data4['valid_rev'].between(1,70)]

In [23]:
data5.shape

(393574, 7)

In [24]:
data5 = data5[~((data4['HelpfulnessNumerator']==0) & (data4['HelpfulnessDenominator']>10))]

<ipython-input-24-518efff7cfa9>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data5 = data5[~((data4['HelpfulnessNumerator']==0) & (data4['HelpfulnessDenominator']>10))]

In [25]:
data5.head()

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Summary,Text,valid_rev
0,1,1,1,5,Good Quality Dog Food,I have bought several of the Vitality canned d...,100.0
1,2,0,0,1,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,0.0
2,3,1,1,4,"""Delight"" says it all",This is a confection that has been around a fe...,100.0
3,4,3,3,2,Cough Medicine,If you are looking for the secret ingredient i...,100.0
4,5,0,0,5,Great taffy,Great taffy at a great price. There was a wid...,0.0

In [26]:
data5.shape

(393271, 7)

In [27]:
def Combine(data):
    return data['Summary'] + ' ' + data['Text']

In [28]:
data5['combined'] = data5.apply(Combine, axis=1)

In [29]:
data5.head()

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Summary,Text,valid_rev,combined
0,1,1,1,5,Good Quality Dog Food,I have bought several of the Vitality canned d...,100.0,Good Quality Dog Food I have bought several of...
1,2,0,0,1,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,0.0,Not as Advertised Product arrived labeled as J...
2,3,1,1,4,"""Delight"" says it all",This is a confection that has been around a fe...,100.0,"""Delight"" says it all This is a confection tha..."
3,4,3,3,2,Cough Medicine,If you are looking for the secret ingredient i...,100.0,Cough Medicine If you are looking for the secr...
4,5,0,0,5,Great taffy,Great taffy at a great price. There was a wid...,0.0,Great taffy Great taffy at a great price. The...

In [30]:
data6 = data5.drop(['HelpfulnessNumerator','HelpfulnessDenominator','valid_rev'],axis=1)

In [31]:
def target(n):
    if(n>2):
        return 1
    else:
        return 0

In [32]:
data6['target'] = data6['Score'].apply(target)

In [33]:
data6.head()

,Id,Score,Summary,Text,combined,target
0,1,5,Good Quality Dog Food,I have bought several of the Vitality canned d...,Good Quality Dog Food I have bought several of...,1
1,2,1,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,Not as Advertised Product arrived labeled as J...,0
2,3,4,"""Delight"" says it all",This is a confection that has been around a fe...,"""Delight"" says it all This is a confection tha...",1
3,4,2,Cough Medicine,If you are looking for the secret ingredient i...,Cough Medicine If you are looking for the secr...,0
4,5,5,Great taffy,Great taffy at a great price. There was a wid...,Great taffy Great taffy at a great price. The...,1

In [34]:
data7 = data6.drop(['Score','Summary','Text'],axis=1)

In [35]:
data7['combined'] = data7['combined'].str.lower()

In [36]:
data7['combined'] = data7['combined'].str.replace('\d+','')

<ipython-input-36-046c05758897>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data7['combined'] = data7['combined'].str.replace('\d+','')

In [37]:
import string

In [38]:
def remove_punctuation(text):
    for i in string.punctuation:
        text = text.replace(i,'')
    return text

In [39]:
data7['combined'] = data7['combined'].apply(remove_punctuation)

In [40]:
#data7['combined'] = data7['combined'].str.replace(' ','')

In [41]:
from nltk.corpus import stopwords

In [42]:
import nltk

In [43]:
 nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\HARSH
[nltk_data]     JAIN\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [44]:
from nltk.corpus import stopwords

In [45]:
stop = stopwords.words('english')

In [46]:
len(stop)

179

In [47]:
data7['combined'] = data7['combined'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [48]:
data7.head(10)

   Id                                           combined  target
0   1  good quality dog food bought several vitality ...       1
1   2  advertised product arrived labeled jumbo salte...       0
2   3  delight says confection around centuries light...       1
3   4  cough medicine looking secret ingredient robit...       0
4   5  great taffy great taffy great price wide assor...       1
5   6  nice taffy got wild hair taffy ordered five po...       1
6   7  great good expensive brands saltwater taffy gr...       1
7   8  wonderful tasty taffy taffy good soft chewy fl...       1
8   9  yay barley right im mostly sprouting cats eat ...       1
9  10  healthy dog food healthy dog food good digesti...       1

In [49]:
tokeniz = nltk.tokenize.WhitespaceTokenizer()

In [50]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\HARSH
[nltk_data]     JAIN\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [51]:
lemmatizer = nltk.stem.WordNetLemmatizer()

In [52]:
def lemmatize_txt(txt):
    return[lemmatizer.lemmatize(w,'v') for w in tokeniz.tokenize(txt)]

In [53]:
data7['lemmatize_txt'] = data7['combined'].apply(lemmatize_txt)

In [54]:
data7 = data7.drop(['combined'],axis=1)

In [55]:
data7.head()

   Id  target                                      lemmatize_txt
0   1       1  [good, quality, dog, food, buy, several, vital...
1   2       0  [advertise, product, arrive, label, jumbo, sal...
2   3       1  [delight, say, confection, around, centuries, ...
3   4       0  [cough, medicine, look, secret, ingredient, ro...
4   5       1  [great, taffy, great, taffy, great, price, wid...

In [56]:
data7.lemmatize_txt.head(10)

0    [good, quality, dog, food, buy, several, vital...
1    [advertise, product, arrive, label, jumbo, sal...
2    [delight, say, confection, around, centuries, ...
3    [cough, medicine, look, secret, ingredient, ro...
4    [great, taffy, great, taffy, great, price, wid...
5    [nice, taffy, get, wild, hair, taffy, order, f...
6    [great, good, expensive, brand, saltwater, taf...
7    [wonderful, tasty, taffy, taffy, good, soft, c...
8    [yay, barley, right, im, mostly, sprout, cat, ...
9    [healthy, dog, food, healthy, dog, food, good,...
Name: lemmatize_txt, dtype: object

In [57]:
data7.lemmatize_txt

0         [good, quality, dog, food, buy, several, vital...
1         [advertise, product, arrive, label, jumbo, sal...
2         [delight, say, confection, around, centuries, ...
3         [cough, medicine, look, secret, ingredient, ro...
4         [great, taffy, great, taffy, great, price, wid...
                                ...
568449    [without, great, sesame, chickenthis, good, be...
568450    [disappoint, im, disappoint, flavor, chocolate...
568451    [perfect, maltipoo, star, small, give, one, tr...
568452    [favorite, train, reward, treat, best, treat, ...
568453    [great, honey, satisfy, product, advertise, us...
Name: lemmatize_txt, Length: 393271, dtype: object

In [82]:
sentence = []
for i in range(len(data7)-1):
    sentence.append(data7.iloc[i]['lemmatize_txt'])

In [59]:
#std = list(sentence)

In [60]:
from sklearn.feature_extraction.text import CountVectorizer

In [61]:

# def vectorize(txt):
#     sentence_vectors = vectorizer.fit_transform(txt)
#     return sentence_vectors

In [62]:
# for i in range (len(data7)-1):
#     for j in range (len(data7.iloc[i]['lemmatize_txt'])-1):
#         record = vectorizer.fit_transform(data7.iloc[i]['lemmatize_txt'][j])

In [63]:
from collections import defaultdict

In [65]:
# for i in range (len(data7)-1):
#     for j in range (len(data7.iloc[i]['lemmatize_txt'])-1):
#         vector = map(vectorize,data7.iloc[i]['lemmatize_txt'][j])

In [67]:
corpus = [
    "The elephant sneezed at the sight of potatoes.",
    "Bats can see via echolocation. See the bat sight sneeze!",
    "Wondering, she opened the door to the studio.",
]

In [68]:
type(corpus)

list

In [69]:
# vector1 = vectorizer.fit_transform(corpus)
# vector1

In [70]:
# for i in range (0,len(data7)):
#     if(type(data7.iloc[i]['lemmatize_txt'])!=str):
#         data7.iloc[i]['lemmatize_txt'] = str(data7.iloc[i]['lemmatize_txt'])

In [71]:
#np.asarray(data7.iloc[0]['lemmatize_txt'])

In [72]:
# for i in range (0,len(data7)-1):
#     vector = vectorizer.fit(data7.lemmatize_txt[i])

In [73]:
#data7.lemmatize_txt[0]

In [74]:
data7.head()

   Id  target                                      lemmatize_txt
0   1       1  [good, quality, dog, food, buy, several, vital...
1   2       0  [advertise, product, arrive, label, jumbo, sal...
2   3       1  [delight, say, confection, around, centuries, ...
3   4       0  [cough, medicine, look, secret, ingredient, ro...
4   5       1  [great, taffy, great, taffy, great, price, wid...

In [76]:
X = data7['lemmatize_txt']
y= data7['target']

In [78]:
from sklearn.model_selection import train_test_split

In [79]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.3, random_state=0)

In [80]:
vectorizer = CountVectorizer()

In [ ]:
vec_train = vectorizer.fit_transform(x_train)
vec_test = vectorizer.fit(x_test)

In [85]:
def vectorize(txt):
    feature = defaultdict(int)
    feature[txt]+=1
    return feature

In [86]:
vec = map(vectorize,sentence)

In [87]:
vec